* {
  /* adds margin outside container */
  margin: 0; 
  /* adds padding inside container */
  padding: 0; 
  box-sizing: border-box;
}

body {
  background: #444 url("https://caltechsites-prod.s3.amazonaws.com/coviddynamic/images/Covid_19_medical_background_with_abstract_vir.width-1600.jpg") fixed center no-repeat; 
  background-size: cover; 
}

.dashboard {
  /* display: flex; */
  /* justify-content: space-evenly; */
  padding: 20px;
}

.dashboard__header {
  color: crimson;
  font-size: 1rem;
  display: flex;
  /* spaces out elements */
  justify-content: space-between;
  /* centers elements */
  align-items: center;
  /* adds margin below */
  margin-bottom: 20px;
}

.dashboard__dropdown {
  background-color: white;
}

.dashboard__stats {
  display: flex;
  justify-content: space-between;
}

.dashboard__graphTitle{
  margin-top: 20px;
}